
<main id="continut">
    <section>
      <text >
          <h4 align="center">Caracteristici</h4>
        <p>
            Principala caracteristică a pisicii Sphynx este lipsa blănii! Pisicile nu sunt totuși în întregime lipsite de păr,
            ci sunt acoperite de un păr fin și pufos care seamănă cu coaja de piersică. Nu au mustăți și nici gene.
            Capul seamănă cu cel ai unei Devon Rex. Ochii sunt adânciți în orbite și au formă de lămâie. 
            Corpul are osatura fină, însă este musculos și are pieptul în formă de butoi. Picioarele sunt lungi și 
            subțiri și au un aspect de picioare încovoiate provocat de pieptul bombat. Coada este lungă, conică și 
            dură la atingere. Pisicile sunt calde și moi la atingere, motiv pentru care și-au câștigat numele de „sticlă cu 
            apă caldă din piele de căprioară”. Pielea este ridată pe lateralele capului, corpului și picioarelor, însă ar trebui
            să fie netedă în toate celelalte zone. Pigmentarea este clar vizibilă pe pielea pisicii Sphynx. Toate modelele și 
            culorile de piele sunt acceptabile.
        </p>
        </section>
        <img src="https://i.gifer.com/g1Fa.gif" class="center">
        <section>
        <h4 align="center">Origine</h4>
        <p>
            Pisicile fără păr sunt cunoscute de generații întregi; se spune că aztecii creșteau pisici fără păr.
             Pisica Sphynx este prima rasă de pisici fără păr care a fost crescută în mod special pentru această caracteristică. 
             Programul de reproducere a început în 1966 în Ontario, Canada când o pisică de casă a dat naștere unui pui mascul fără păr. 
             Totuși, majoritatea pisicilor Sphynx născute azi descind din trei pui fără păr, găsiți în Toronto în 1978.
        </p>
        <ul>
            <li>Pisică foarte activă și băgăcioasă</li>
            <li>Pisică sociabilă și dependentă</li>
            <li>Pisică foarte comunicativă</li>
            <li>Rasă de pisică suplă și elegantă</li>
            <li>Nevoie de îngrijire săptămânală</li>
            <li>Rasă hipoalergenică</li>
            <li>Pisică de apartament</li>
            <li>Ar putea avea nevoie de familiarizare înainte de a locui cu copii</li>
            
          </ul>  
        <h4 align="center">Personalitate</h4>
        <p>
            
            Pisica Sphynx este sociabilă, neastâmpărată, iubitoare de oameni și de atenție. Aceste pisici își întâmpină adesea stăpânii atunci când vin 
            acasă și sunt foarte vorbărețe. Sunt foarte inteligente, jucăușe și răsfățată. Pisicile Sphynx sunt campioane la tors. Le place să doarmă cu 
            stăpânii sub pătură. Temperatura corpului este cu un grad sau două peste media pisicilor normale și au un apetit uriaș pentru a compensa pierderea 
            de căldură. Beneficiind de puțină protecție împotriva mediului, aceste pisici nu pot fi lăsate afară în frig, nu le place să stea pe suprafețe reci
             și apreciază încălzirea centrală! Cele care ies afară în soare au nevoie de protecție pe pielea deschisă la culoare.

        </p>
      </text>
    </section>
  </main>

  