<!DOCTYPE html>
<html lang="ro-RO">
  <body>
    <head>
      <link rel="stylesheet" type="text/css" href="/stil.css" />
      <script type="text/javascript" src="views/script.js"></script>
      <title>Proiect 3</title>
    </head>
    <header>
      <h1 align=center>PISICA SFINX</h1>
      <marquee behavior="alternate"
      ><img
        src="https://monophy.com/media/IonxP9ckQKJGLoOSsw/monophy.gif"
        width="860"
        height="720"
    /></marquee>
    </header>
    <hr />
    <nav>
      <a  href="despre">Despre Sfinx</a>&nbsp;&nbsp;&nbsp;
      <a  href="chestionar">Chestionar</a>&nbsp;&nbsp;&nbsp;
      <a  href="video">Video</a>&nbsp;&nbsp;&nbsp;
      <a href="butonjs" >Testare</a>&nbsp;&nbsp;&nbsp;
      <a href="iesire" class="dreapta">Log out</a>&nbsp;&nbsp;&nbsp;
    </nav>
    <hr />
    <main id="continut">   
        <%- body -%>
    </main>
    <hr />
    <footer>
      <marquee><img  width=50 height=40 src="https://i.gifer.com/OSNw.gif">&#169;2021.Pisica SFINX</marquee>
    </footer>
  </body>
</html>
